doctype html
html
    body
        h1 Игра
        div#panel(style='display: none')
            h4#header
            ol#steps
            div
                span#score

                div#step-panel
                    input(type='radio', name='subj', value='1')
                    | Камень
                    input(type='radio', name='subj', value='2')
                    | Ножницы
                    input(type='radio', name='subj', value='3')
                    | Бумага
                    p: button#step-button Походить

        div#message(style='display: none')

        script(src="jquery-3.2.1.min.js")
        script.
            var myName = '#{myName}';
        script(src="client_ws.js")
