doctype html
html
   body
      h1 Зал ожидания
      form(method='post', action='/game')
         if (waitings.length)
             | Вас ожидают:
             ol: - for (var i = 0; i < waitings.length; i++)
                   li
                     input(type='radio' name='user', value=waitings[i].name )
                     | #{waitings[i].name}
         ul: li
            input(type='radio' name='user', value=myName )
            | Ждать партнера
         p
         input(type="submit" value="Submit")
         input(type="hidden" name="myName" value=myName)
