doctype html
html
   body
      h1 Регистрация и вход
      form(method='post', action='/')
         p Имя
         input(type="text", name="userName", value=userName)
         p Пароль
         input(type="text", name="password")
         p
         input(type="submit" value="Вход")